### The University of Melbourne, School of Computing and Information Systems
# COMP90049 Introduction Machine Learning, 2022 Semester 2

## Week 2 - Reading and saving CSV's using Pandas

In [1]:
import pandas as pd

We can read files into Panda Dataframes.


Here, we will use the `df.head()` method which displays the first 5 rows by default. Correspondingly, the `df.tail()` method displays the last 5 rows by default.

In [2]:
# create a DataFrame from a csv file
total_sales = pd.read_csv('booking_summary.csv')
total_sales.head(10)

               movie_name classification  tickets_sold  max_capacity
0           A Quiet Place              M        103813        427725
1                   Alpha             PG        103596        422525
2   An Interview with God             PG        104182        426575
3            Animal World              G        108293        427300
4    Ant-Man and the Wasp             PG        104631        429350
5                 Aquaman              M        102655        423100
6  Avengers: Infinity War              M        112178        424325
7                   A-X-L             PG         99339        423200
8          Between Worlds          MA15+        103208        423375
9           Black Panther              M        108831        423375

In [3]:
# save a DataFrame as a csv file
last_ten = total_sales.tail(10)
last_ten.to_csv('last_ten.csv')

# Read it back in. 
pd.read_csv('last_ten.csv')

,Unnamed: 0,movie_name,classification,tickets_sold,max_capacity
0,20,Ralph Breaks the Internet,PG,103909,425500
1,21,Rampage,M,102746,420575
2,22,Siberia,G,107617,423925
3,23,Sicario: Day of the Soldado,MA15+,99388,427950
4,24,Spider-Man: Into the Spider-Verse,PG,103838,428375
5,25,The Darkest Minds,M,101663,432075
6,26,The Kissing Booth,M,107512,418750
7,27,The Meg,M,108652,422375
8,28,The Predator,MA15+,104824,424350
9,29,Venom,M,110053,424200

Note how we have an `Unnamed: 0` column? That's the index column from when we exported the CSV. To ensure that Pandas do not need to save the index column, you can add the `index=False` to the `.to_csv()` method.

In [4]:
# save a DataFrame as a csv file
last_ten = total_sales.tail(10)
last_ten.to_csv('last_ten.csv', index=False)

# Read it back in. 
pd.read_csv('last_ten.csv')

,movie_name,classification,tickets_sold,max_capacity
0,Ralph Breaks the Internet,PG,103909,425500
1,Rampage,M,102746,420575
2,Siberia,G,107617,423925
3,Sicario: Day of the Soldado,MA15+,99388,427950
4,Spider-Man: Into the Spider-Verse,PG,103838,428375
5,The Darkest Minds,M,101663,432075
6,The Kissing Booth,M,107512,418750
7,The Meg,M,108652,422375
8,The Predator,MA15+,104824,424350
9,Venom,M,110053,424200



## Exercise
Count the number of movies in each classification. 

Hint: Try to search up _"pandas count values in dataframe"_

In [5]:
### ANSWER HERE

We will now set the `movie_name` as our index.

**Follow-up Question: Why would we want to set the name of the movie as the index?**

In [6]:
# set the name of movie as the index
total_sales = total_sales.set_index('movie_name')
total_sales

,classification,tickets_sold,max_capacity
movie_name,,,
A Quiet Place,M,103813,427725
Alpha,PG,103596,422525
An Interview with God,PG,104182,426575
Animal World,G,108293,427300
Ant-Man and the Wasp,PG,104631,429350
Aquaman,M,102655,423100
Avengers: Infinity War,M,112178,424325
A-X-L,PG,99339,423200
Between Worlds,MA15+,103208,423375
Black Panther,M,108831,423375
Bumblebee,M,106562,427950
Creed II,M,101628,424375
Deadpool 2,MA15+,106874,422950
Dragon Ball Super: Origin of the Saiyans,M,105982,423225
Extinction,MA15+,107638,421975
Fantastic Beasts: The Crimes of Grindelwald,M,98950,426750
Hotel Transylvania 3: Summer Vacation,PG,103477,430400
Maze Runner: The Death Cure,M,104793,422375
My Hero Academia: Two Heroes,M,102826,432225
Peter Rabbit,PG,111164,429075
Ralph Breaks the Internet,PG,103909,425500
Rampage,M,102746,420575
Siberia,G,107617,423925
Sicario: Day of the Soldado,MA15+,99388,427950
Spider-Man: Into the Spider-Verse,PG,103838,428375
The Darkest Minds,M,101663,432075
The Kissing Booth,M,107512,418750
The Meg,M,108652,422375
The Predator,MA15+,104824,424350
Venom,M,110053,424200

<blockquote style="padding: 10px; background-color: #FFD392;">

## Exercise
1. Calculate the occupancy rate for each movie. The occupancy rate is the number of tickets sold divided by the max capacity. Output this to a `'occupancy_rate'` column. Round the result to two decimal places using the `round()` function.

2. Return only the `classification` and `'occupancy_rate'` of `'Ralph Breaks the Internet'` 

3. Get data row (known as an *instance*) of the movie with the highest occupancy rate. You may want to sort your values first using `df.sort_values(by=COLUMN)`

4. Find the subset of movies that have a `PG` classification.

In [7]:
### ANSWER 1 HERE

In [8]:
### ANSWER 2 HERE

In [9]:
### ANSWER 3 HERE

In [10]:
### ANSWER 4 HERE

### Advanced: Sort the data over multiple columns
To sort values over multiple columns, you can pass through a `list` of columns (in order) to the `by=` argument.

Here's an example of sorting by:
1. Classification ascending
2. Occupancy rate descending
3. Tickets sold descending

In [11]:
total_sales.sort_values(['classification', 'occupancy_rate', 'tickets_sold'],
                       ascending=[True, False, False]).drop(['max_capacity'], axis='columns')

KeyError: 'occupancy_rate'

## <u>Concept: Group by</u>
The `groupby` method lets you separate the data into different groups based off shared characteristics (akin to `itertools.groupby`). For example, we could group countries by region or income range, then analyse those groups individually.  

The official documentation on groupby can be found [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html). [This tutorial](https://www.marsja.se/python-pandas-groupby-tutorial-examples/) is also well worth reading.


Here's an example of finding the total number of tickets sold for each classification.

In [ ]:
total_sales.groupby('classification')['tickets_sold'].sum()

<blockquote style="padding: 10px; background-color: #FFD392;">

## Exercise
1. How many movies are there in each classification category? Think of key search terms such as "size" or "count".

2. Then, for each category, what is the `mean` number of tickets sold?

In [ ]:
### ANSWER 1 HERE

In [ ]:
### ANSWER 2 HERE

Finally, an advanced use case of groupby. Here, we are:
- Getting the max capacity possible for the classification;
- the average number of tickets sold for the classification;
- and the average occupancy rate.

The syntax for this is a dictionary using the `.agg()` method where the:
- `key` corresponds to the column
- `value` corresponds to the type of aggregation

View more here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html

In [ ]:
total_sales.groupby('classification').agg({'max_capacity': 'max', 'tickets_sold': 'mean', 'occupancy_rate': 'mean'})

# Challenge questions

We don't give the answers to these questions, but we encourage students to discuss among themselves using the forum. Some questions require use of functions or methods not covered in this tutorial, and some questions are open-ended (no fixed answer, depending on their arguments). We have provided this to give students a chance to get used to searching up the documentation.

1. Suppose that the average purchase price per ticket is `$22.00`, what's the average dollar sales for `MA15+` movies? Compared this to the median dollar sales for `M`-rated movies.

2. How many movies have a title that begins with `"T"`? 

3. Which movies tend to have better occupancy rate: low sales with low capacity, or high sales with high capacity?

4. How many movies have a below-average occupancy rate in each classification category?